<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <meta name='title' content='Home' >
        <meta name='description' content='Página a la que sólo se podrá acceder con credenciales permitidas' >
        <meta name='author' content='Marcos Martinez' >
        <meta name='language' content='es' >
        <meta name='owner' content='SoftwareOne' >
        <title>Home</title>
    </head>
    <body>
        <h1>Bienvenido <span th:text="${name}"></span></h1>
    </body>
</html>