<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <meta name='title' content='Recuperar Coches' >
        <meta name='description' content='Página que muestra los coches guardados en la base de datos' >
        <meta name='author' content='Marcos Martinez' >
        <meta name='language' content='es' >
        <meta name='owner' content='SoftwareOne' >
        <title>Recuperar Coches</title>
    </head>
    <body>
        <h1>Coches en la base de datos</h1>
        <table>
            <thead>
                <tr>
                    <th> <a href="http://localhost:8080/recuperar"><input type="button" value="Mostrar todos los coches"></a></th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form th:action="@{/enviar}" th:object="${coche}" method="post">
                        <td><button type="submit">Insertar</button></td>
                        <td><input type="text" th:field="*{marca}" placeholder="marca"></td>
                        <td><input type="text" th:field="*{modelo}" placeholder="modelo"></td>
                        <td><input type="number" th:field="*{precio}" placeholder="precio"></td>
                    </form>
                </tr>
            </tbody>
        </table>
    </body>
</html>